@font-face {
  font-family: squada;
  src: url(./SquadaOne-Regular.ttf);
}
@font-face {
  font-family: sintony;
  src: url(./Sintony-Regular.ttf);
}
@font-face {
  font-family: economica;
  src: url(./Economica-Regular.ttf);
}

:root {
  --key: calc(min(17vw, 17vh));
  --dark: #000;
  --lite: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all .2s linear;
  font-family:sintony;
  background-color: var(--lite);
  color: var(--dark);
}

main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#home {
  z-index: 100;
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  width: 15px;
}

#landing-page>article {
  flex-direction: column;
}

#game-length {
  display: flex;
  flex-direction: row;
}
input[type=radio] {
  display:none;
}
input[type=radio]:checked+label {
  background-color: #adff2f;
}

header {
  position: absolute;
  top: 1rem;
}

article {
  display: flex;
  justify-content: center;
}

progress {
  position: fixed;
  top: .2rem;
  left:1rem;
  width: calc(100vw - 2rem);
  transition:value 1s linear;
}

#keyboard,
.sign {
  font-family: squada;
}

#keyboard {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
  grid-gap: .2rem;
}

#keyboard>div,
.sign {
  user-select: none;
  font-family:sintony;
  font-weight:bold;
  font-size: 1.5rem;
  padding: 1.5rem;
  width: var(--key);
  height: var(--key);
  border:3px solid var(--dark);
  color: var(--dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:border-radius .5s ease-in-out;
}
#signs {
  display:flex;
  flex-direction: row;
}
.sign {
  font-size:2.2rem;
  margin:.2rem;
}

#keyboard>div:active,
.sign:active {
  border-radius:0;
}